
<nav class="pick">
	<h1 class="pick__title">{{ title }}</h1>
	<p>{{ intro }}</p>
	{% for option in options %}
		<a href="{{ option.url }}" class="pick__option" data-instance="{{ option.instance }}" data-id="{{ option.globalID }}">
			<div class="pick__option-label" lang="{{ option.label.language }}">
				<strong>{{ option.label.value }}</strong>
				<small class="pick__option-id">({{ option.globalID }})</small>
			</div>
			<div class="pick__option-description" lang="{{ option.description.language }}">
				{{ option.description.value }}
			</div>
		</a>
	{% endfor %}
</nav>