<header class="ensign">
	<h1 class="ensign__title" lang="{{ title.language }}">{{ title.value }}</h1>
	{% spaceless %}
		<small class="ensign__id">
			<a class="ensign__id__link" href="{{ canonical }}">{{ id }}</a>
		</small>
	{% endspaceless %}
	<p class="ensign__description" lang="{{ description.language }}">
		{{ description.value }}
	</p>
</header>