{% import _self as media %}

{% macro info(href, text) %}
    <small><a href="{{ href }}">{{ media_info }}</a></small>
{% endmacro %}

<div class="medius">
	{% if image %}
		<a href="{{ href }}">
			{% include 'pic' with image %}
		</a>
	{% endif %}
	{% if audio %}
		{% include 'play' with audio %}
		{{ media.info(href, media_info) }}
	{% endif %}
	{% if video %}
		{% include 'watch' with video %}
		{{ media.info(href, media_info) }}
	{% endif %}
</div>